@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling globally */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1E293B;
}
::-webkit-scrollbar-thumb {
  background: #4F46E5;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6366F1;
}
